{% extends 'SellerUI/base.html' %}
{% load static %}

{% block bodyblock %}

    <div class="jumbotron" style = "background : white">
        <div class="card testimonial-card mb-4" id = 'about' style="margin-left:30%; margin-right:30%">
          <br/>
            <div class="avatar mx-auto white" >
                {% if profile.profile_image %}
                <img src="/media/{{profile.profile_image}}" class="rounded-circle"
                alt="user" width="100" height="100">
                {% else %}
                <img src="{% static "media/blank-user.jpg" %}" class="rounded-circle"
                alt="user" width="100" height="100">
                {% endif %}
            </div>
            <br/>
            <div class="card-body">
                <h5 style="text-align:center;">{{profile.user.first_name}} {{profile.user.last_name}}</h5>
                <p>Email: {{profile.user.email}}</p>
                <p>phone number : {{profile.phone_number}}</p>
                <p>type : {{profile.type}}</p>
                <hr>
            </div>
        </div>
        {% ifequal profile.user.username user.username %}
        <button type="button"><a href="{% url 'broker_update' pk=profile.pk %}">Update</a></button>
    {% else %}
    <button type="button"><a href="{% url 'home' %}">Continue</a></button>
    {% endifequal %}
    </div>
{% endblock %}
