<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    {% ifequal profile.user.username user.username %}
            {% if profile.is_broker %}
                <h3>First name : {{profile.user.first_name}}</h3>
                <h3>Last name : {{profile.user.last_name}}</h3>
                <h3>Username : {{profile.user.username}}</h3>
                <h3>Email : {{profile.user.email}}</h3>
                <h3>phone number : {{profile.phone_number}}</h3>
                <h3>type : {{profile.type}}</h3>
            {% endif %}
            <button type="button"><a href="{% url 'broker_update' pk=profile.pk %}">Update</a></button>

    {% else %}
    <h2>Sorry, you are not authorized to continue your query</h2>
    <h2>Brokers with only their estates can update their objects</h2>
    <button type="button"><a href="{% url 'estate_detail' pk=estate.pk %}">Continue</a></button>
    {% endifequal %}

    
</body>
</html>