{% extends 'SellerUI/base.html' %}
{% load crispy_forms_tags %}


{% block bodyblock%}

    {% if user.is_authenticated%}
    <form method='POST' class = "text-center border border-light p-5 mb-6">
        <h3>Register new estate</h3>
        {% csrf_token%}
        {{ form|crispy }}
        <input type="submit" class='btn btn-primary' value='Register'>
    </form>
        {% if form.errors %}
        {{form.errors}}
        {% endif %}
        {% if messages %}
            {% for message in messages %}
                {{message}}
            {% endfor %}
        {% endif %}
    {% else %}
        you are not authenticated
        <button type='button'><a href="{% url 'login' %}">Login</a></button>
    {% endif %}
{% endblock %}
