<div class="container">
    {% if user.is_authenticated%}
<h2>Welcome {{user.first_name}}</h2>
{% endif%}
<h2>List of the available estates</h2>
<ol type="1">
{% for e in estate_list%}

<li><a href="{% url 'estate_detail' pk=e.pk%}">Rs{{e.price}}  {{e.bedroom}}  {{e.area}}</a></li>
</br>
{% empty%}
    <h4>No estate registered yet</h4>
{% endfor %}
</ol>
{% if user.is_authenticated == False %}
    <button><a href="{% url 'login' %}">Login</a></button>
    <button><a href="{% url 'user_details' %}">SignUp</a></button>
{% else %}
    <button type='button'><a href="{% url 'new_estate' %}">New Estate</a></button>
    <h3>Change user <a href="{% url 'logout' %}">Logout</a></h3>
{% endif%}