{% extends 'SellerUI/base.html' %}

{% block content%}

{% endblock %}

{% block bodyblock %}
<br>
<br>
<h1 style = 'text-align:center;'>Details of Property</h1>
<ul class="list-group list-group-flush" style="margin-left:30%; margin-right:30%;">
  <li class="list-group-item">Broker Name : <a href="{% url 'broker_detail' pk=estate.broker.pk %}">{{estate.broker.user.first_name}} {{estate.broker.user.last_name}}</a></li>
  <li class="list-group-item">Broker phone_number : {{estate.broker.phone_number}}</li>
  <li class="list-group-item">Price : {{estate.price}}</li>
  <li class="list-group-item">Type of Building : {{estate.type}}</</li>
  <li class="list-group-item">Bedroom : {{estate.bedroom}}</li>
  <li class="list-group-item">Bathroom : {{estate.bathroom}}</li>
  <li class="list-group-item">Carpet Area : {{estate.carpetarea}} </li>
  <li class="list-group-item">Builtup Area : {{estate.builtuparea}} </li>
  <li class="list-group-item">Project: {{estate.project}}</li>
  <li class="list-group-item">Status of furnishing : {{estate.furnished}}</li>
  <li class="list-group-item">Status of Construction : {{estate.construction_status}}</li>
  <li class="list-group-item">Locality : {{estate.sublocality}}</li>
</ul>


{% ifequal estate.broker.user.username user.username %}
<button class='btn btn-outline'><a href="{% url 'estate_update' pk=estate.pk %}">Update</a></button>
<!-- <button type="button" class='btn btn-detail'><a href="{% url 'new_user' %}">Create Profile</a></button> -->
<button type="button" class='btn btn-outline'><a href="{% url 'estate_delete' pk=estate.pk%}">Remove</a></button>
{% endifequal%}


{% endblock %}
