{% extends 'BrokerUI/estate_list.html' %}

{% block content%}
    <h3><span style="color: #d1d7e0; font-weight: bolder;">Broker Name :</span> <a href="{% url 'broker_detail' pk=estate.broker.pk %}">{{estate.broker.user.first_name}} {{estate.broker.user.last_name}}</a></h3>
    <!-- <h3><span style="color: #d1d7e0; font-weight: bolder;">Broker type : </span>{{estate.broker.type}}</h3> -->
    <h3><span style="color: #d1d7e0; font-weight: bolder;">Broker phone_number : </span><span  style="color: #e4e96b;">{{estate.broker.phone_number}}</span></h3>
    <h3><span style="color: #d1d7e0; font-weight: bolder;">price : </span><span  style="color: #e4e96b;">{{estate.price}}</span></h3>
    <h3><span style="color: #d1d7e0; font-weight: bolder;">Bedroom : </span><span  style="color: #e4e96b;">{{estate.bedroom}}</span></h3>
    <h3><span style="color: #d1d7e0; font-weight: bolder;">Bathroom : </span><span  style="color: #e4e96b;">{{estate.bathroom}} </span></h3>
    <h3><span style="color: #d1d7e0; font-weight: bolder;">Carpet Area : </span><span  style="color: #e4e96b;">{{estate.carpetarea}} ft</span></h3>
    <h3><span style="color: #d1d7e0; font-weight: bolder;">Builtup Area : </span><span  style="color: #e4e96b;">{{estate.builtuparea}} ft</span></h3>
</br>
    {% ifequal estate.broker.user.username user.username %}
    <button class='btn btn-outline'><a href="{% url 'estate_update' pk=estate.pk %}">Update</a></button>
    <!-- <button type="button" class='btn btn-detail'><a href="{% url 'new_user' %}">Create Profile</a></button> -->
    <button type="button" class='btn btn-outline'><a href="{% url 'estate_delete' pk=estate.pk%}">Remove</a></button>
    {% endifequal%}
{% endblock %}