{% extends 'SellerUI/base.html' %}
{% load crispy_forms_tags %}

{% block bodyblock%}
    {% ifequal estate.broker.user.username user.username %}
            <form method='POST' class = "text-center border border-light p-5 mb-6">

                {% csrf_token %}
                {{form|crispy}}
                <input type="submit" class='btn btn-success' value='Saves'>
            </form>

    {% else %}
    <h2>Sorry, you are not authorized to continue your query</h2>
    <h2>Brokers with only their estates can update their objects</h2>
    <button type="button"><a href="{% url 'estate_detail' pk=estate.pk %}">Continue</a></button>
    {% endifequal %}
{% endblock %}
