{% extends 'SellerUI/base.html' %}
{% load crispy_forms_tags %}


{% block bodyblock%}

    {% if form.errors %}
        <p>Your username and password did not match</p>
    {% endif %}
    <form action="{% url 'login' %}" method='POST' class = "text-center border border-light p-5 mb-6"  enctype="multipart/form-data">
        <h2> Welcome {{user.firstname}}</h2>
        <h1>Please add your details</h1>
        {% csrf_token %}
        {{form|crispy}}
        <input type="submit" class='btn btn-primary' value='login'>
    </br>
    </form>
    {% if messages %}
    </br>
        {% for message in messages %}
        {{message}}
        {% endfor %}
        </br></br>
        <button type='button'><a href="{% url 'home'%}">Home</a></button>
    {% endif %}

{% endblock %}
