{% extends 'SellerUI/base.html' %}
{% block bodyblock %}
<br>
<div class="container">
    <h4>Filter estates</h4>
    <form method="GET">

        <div class="form-row">
            <div class="form-group col-12">
                <div class="input-group">
                    <input class="form-control py-2 border-right-0 border" type="search" name="broker_firstname_contains" placeholder="Broker firstname contains...">
                    <span class="input-group-append">
                        <div class="input-group-text bg-transparent">
                             <i class="fa fa-search"></i>
                        </div>

                    </span>
                </div>
            </div>
        </div>


        <div class="form-row">
            <div class="form-group col-12">
                <div class="input-group">
                    <input class="form-control py-2 border-right-0 border" type="search" name="broker_lastname_contains" placeholder="Broker lastname contains...">
                    <span class="input-group-append">
                        <div class="input-group-text bg-transparent">
                             <i class="fa fa-search"></i>
                        </div>

                    </span>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-12">
                <div class="input-group">
                    <input class="form-control py-2 border-right-0 border" type="search" name="project" placeholder="Project name contains...">
                    <span class="input-group-append">
                        <div class="input-group-text bg-transparent">
                             <i class="fa fa-search"></i>
                        </div>

                    </span>
                </div>
            </div>
        </div>


        <div class="form-row">
          <div class="form-group col-md-2 col-lg-2">
            <label for="inputEmail4"><span >min price</span></label>
            <input type="number" class="form-control" name="min_price" id="inputEmail4" placeholder="0">
          </div>
          <div class="form-group col-md-2 col-lg-2">
            <label for="inputPassword4"><span >max price</span></label>
            <input type="number" class="form-control" id="inputPassword4" name="max_price" placeholder="5000000 ">
          </div>
          <div class="form-group col-md-2 col-lg-2">
            <label for="inputPassword4"><span >min bedroom</span></label>
            <input type="number" class="form-control" id="inputPassword4" name="min_bedroom" placeholder="0">
          </div>
          <div class="form-group col-md-2 col-lg-2">
            <label for="inputPassword4"><span >max bedroom</span></label>
            <input type="number" class="form-control" id="inputPassword4" name="max_bedroom" placeholder="3">
          </div>
          <div class="form-group col-md-2 col-lg-2">
            <label for="inputPassword4"><span >min bathroom</span></label>
            <input type="number" class="form-control" id="inputPassword4" name="min_bathroom" placeholder="0">
          </div>
          <div class="form-group col-md-2 col-lg-2">
            <label for="inputPassword4"><span >max bathroom</span></label>
            <input type="number" class="form-control" id="inputPassword4" name="max_bathroom" placeholder="5">
          </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-3 col-lg-3">
              <label for="inputEmail4"><span >min carpetarea</span></label>
              <input type="number" class="form-control" id="inputEmail4" name="min_carpetarea" placeholder="0">
            </div>
            <div class="form-group col-md-3 col-lg-3">
              <label for="inputPassword4"><span >max carpetarea</span></label>
              <input type="number" class="form-control" id="inputPassword4" name="max_carpetarea" placeholder="5000000 ">
            </div>
            <div class="form-group col-md-3 col-lg-3">
              <label for="inputPassword4"><span >min floorarea</span></label>
              <input type="number" class="form-control" id="inputPassword4" name="min_floorarea" placeholder="0">
            </div>
            <div class="form-group col-md-3 col-lg-3">
              <label for="inputPassword4"><span >max floorarea</span></label>
              <input type="number" class="form-control" id="inputPassword4" name="max_floorarea" placeholder="3">
            </div>
        </div>




        <!-- <div class="form-row">
          <div class="form-group col-md-4">
            <label for="inputState">State</label>
            <select id="inputState" class="form-control">
              <option selected>Choose...</option>
              <option>...</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
              Check me out
            </label> -->
          <!-- </div>
        </div> -->
        <button type="submit" class="btn btn-primary">Search</button>
      </form>

    <hr><hr>
    {% for e in queryset%}
      <a href="{% url 'estate_detail' pk=e.pk%}" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-2 h5">Rs{{e.price}}</h5>
        </div>
        <p class="mb-2">Locality : {{e.sublocality}}</p>
        <small>{{e.bedroom}} beds </small>
        <small>{{e.bathroom}} bathrooms </small>
        <small>{{e.carpetarea}} ft2</small>

      </a>
      {% empty%}
          <h5 class='font-color'>No vehicles!</h5>
      {% endfor %}

</div>
<br>

{% endblock %}
