{% extends "SellerUI/base.html" %}
{%  load static %}

{% block bodyblock %}
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <h1>Resale Value Management</h1>
        <h1>and Prediction</h1>
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-line"></div>
        </div>
        <p class = 'lead'>This project maintains Real Estates and Vehicles that people want to sell. It also helps resellers by predicting a price for their commodity using Machine Learning. </p>
        <!-- Icon Divider-->

    </div>
</header>

{% endblock  %}
