{% extends "SellerUI/base.html" %}
{% load static %}

{% block content %}

<section class="site-section pt-5">
  <div class="container">
    <div class="row blog-entries">
      <div class="col-md-12 col-lg-8 main-content">
        <div class="row mb-5 mt-5">

           <div class="col-md-12">

             {% for vehicle in object_list %}
             {% if vehicle.published_date %}
             <div class="post-entry-horzontal">
               <a href="{% url 'vehicle_detail' pk=vehicle.pk %}">
               <div class="image element-animate" data-animate-effect="fadeIn" style="background-image: url({% static 'images/car.jpg' %});"></div>
                 <span class="text">
                     <div class="post-meta">
                       <span class="author mr-2">Seller: {{vehicle.seller.user.first_name}} {{vehicle.seller.user.last_name}}</span>
                       </br>
                       <span class="mr-2">Published: {{vehicle.created_date}}</span>

                     </div>
                     <h2>Make: {{vehicle.make}}</h2>
                     <h2>Model: {{ vehicle.Vmodel }}</h2>
                     <h2>Price: Rs. {{ vehicle.price }}</h2>
                  </span>
                </a>
	          </div>
`             {% endif %}`

             {% empty %}
             <h2>No Vehicles!</h2>
             {% endfor %}
	      </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock %}
