{% extends 'SellerUI/base.html' %}
{% load static %}

{% block bodyblock %}

    </br>
    </br>
    <h1 style = 'text-align:center;'>List of Vehicles</h1>
    </br>
    <div class="list-group" style="margin-left:30%; margin-right:30%;">
    {% for vehicle in vehicle_list%}
      <a href="{% url 'vehicle_detail' pk=vehicle.pk%}" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-2 h5">{{vehicle.make}} {{vehicle.Vmodel}}</h5>
          <small>{{vehicle.published_date}}</small>
        </div>
        <p class="mb-2">Rs{{vehicle.price}}</p>
        <small>{{vehicle.description}}</small>
      </a>
      {% empty%}
          <h5 class='font-color'>No vehicles registered yet</h5>
      {% endfor %}

        <div class="pagination centre-align">
            <span class="step-links centre-align">
                {% if page_obj.has_previous %}
                    <a class='btn btn-outline medium-font' href="?page=1">&laquo; first</a>
                    <a class='btn btn-outline medium-font' href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="btn btn-page bigger-font">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a class='btn btn-outline medium-font' id='topalign' href="?page={{ page_obj.next_page_number }}">next</a>
                    <a class='btn btn-outline medium-font' href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
            {% if user.is_authenticated %}
            <a href="{% url 'vehicle_new' %}">
            <button type='button' class='btn btn-outline bigger-font '>Add new vehicle</button></a>
        {% endif%}
        </div>

    </br>

    </div>
{% endblock %}
